In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl
from pathlib import Path
%matplotlib inline

In [3]:
dfs = pd.read_excel('Tabla1.xlsx',header=None)

In [4]:
dfs= dfs.drop(labels=0, axis=0)
dfs.reset_index(drop=True, inplace=True)

In [5]:
header = dfs.iloc[0]

In [6]:
dfs.columns= header
dfs.reset_index(drop=True, inplace=True)
dfs= dfs.drop(labels=0, axis=0)

In [7]:
dfs

,A침o,Mes,Total de Conexiones,Crecimiento Anual,Penetraci칩n cada 100 hab.,Crecimiento Anual P.B.
1,2000,Dic,585489,NaN,3.781073,NaN
2,2001,Dic,698127,0.192383,4.458417,0.677344
3,2002,Dic,757760,0.085419,4.786095,0.327678
4,2003,Dic,836007,0.103261,5.222945,0.43685
5,2004,Dic,805315,-0.036713,4.977124,-0.245821
6,2005,Dic,906079,0.125124,5.541776,0.564652
7,2006,Dic,1087738,0.200489,6.586215,1.044439
8,2007,Dic,1331919,0.224485,7.984755,1.39854
9,2008,Dic,1439009,0.080403,8.542051,0.557296
10,2009,Dic,1695034,0.177918,9.964003,1.421953
11,2010,Dic,1819564,0.073468,10.60,0.63
12,2011,Dic,2025042,0.112927,11.29,1.09
13,2012,Dic,2186173,0.079569,12.51,0.82
14,2013,Dic,2309576,0.056447,13.1,0.59
15,2014,Dic,2501356,0.083037,13.96,0.87
16,2015,Dic,2729251,0.091109,15.08,1.12
17,2016,Dic,2912133,0.067008,15.93,0.85
18,2017,Dic,3068528,0.053705,16.51,0.58
19,2018,Dic,3256097,0.061127,17.20,0.69
20,2019,Dic,3434767,0.054872,17.81,0.61
21,2020,Dic,3802033,0.106926,19.43,1.62

In [31]:
dfs2 = pd.read_excel('Tabla2.xlsx',header=None)

In [32]:
dfs2

         0    1        2         3          4         5
0   2019.0  Ene  3325652  0.021000  17.541320  0.340000
1      NaN  Feb  3331466  0.002000  17.544547  0.000000
2      NaN  Mar  3362188  0.009000  17.678733  0.130000
3      NaN  Abr  3369577  0.002198  17.690005  0.010000
4      NaN  May  3376138  0.001947  17.696902  0.010000
5      NaN  Jun  3400194  0.007125  17.795340  0.100000
6      NaN  Jul  3415766  0.004580  17.849506  0.050000
7      NaN  Ago  3430922  0.004437  17.901336  0.050000
8      NaN  Sep  3431956  0.000301  17.879437 -0.020000
9      NaN  Oct  3434149  0.000639  17.863633 -0.015804
10     NaN  Nov  3436431  0.000665  17.848340 -0.015293
11     NaN  Dic  3434767 -0.000484  17.812629 -0.035711
12  2020.0  Ene  3433006 -0.000513  17.776524 -0.036105
13     NaN  Feb  3443368  0.003018  17.803208  0.026684
14     NaN  Mar  3489047  0.013266  18.012134  0.208926
15     NaN  Abr  3532510  0.012457  18.209007  0.196873
16     NaN  May  3560720  0.007986  18.326782  0.117774
17     NaN  Jun  3588261  0.007735  18.440764  0.113982
18     NaN  Jul  3621266  0.009198  18.592861  0.152097
19     NaN  Ago  3653873  0.009004  18.742630  0.149769
20     NaN  Sep  3701448  0.013020  18.968824  0.226194
21     NaN  Oct  3748396  0.012684  19.191384  0.222559
22     NaN  Nov  3780650  0.008605  19.338364  0.146981
23     NaN  Dic  3802033  0.005656  19.429516  0.091151
24  2021.0  Ene  3825893  0.006276  19.533143  0.103627
25     NaN  Feb  3871063  0.011806  19.745272  0.212130
26     NaN  Mar  3937795  0.017239  20.066885  0.321613
27     NaN  Abr  4005820  0.017275  20.394480  0.327595
28     NaN  May  4049326  0.010861  20.596749  0.202269
29     NaN  Jun  4089655  0.009959  20.782496  0.185747

In [33]:
dfs2.columns= header

In [34]:
dfs2 = dfs2.drop(columns="A침o")

In [36]:
year2019 = dfs2[0:12]
year2020 = dfs2[12:24]
year2021 = dfs2[24:]

In [43]:
year2019.reset_index(drop=True, inplace=True)
year2019

,Mes,Total de Conexiones,Crecimiento Anual,Penetraci칩n cada 100 hab.,Crecimiento Anual P.B.
0,Ene,3325652,0.021000,17.541320,0.340000
1,Feb,3331466,0.002000,17.544547,0.000000
2,Mar,3362188,0.009000,17.678733,0.130000
3,Abr,3369577,0.002198,17.690005,0.010000
4,May,3376138,0.001947,17.696902,0.010000
5,Jun,3400194,0.007125,17.795340,0.100000
6,Jul,3415766,0.004580,17.849506,0.050000
7,Ago,3430922,0.004437,17.901336,0.050000
8,Sep,3431956,0.000301,17.879437,-0.020000
9,Oct,3434149,0.000639,17.863633,-0.015804
10,Nov,3436431,0.000665,17.848340,-0.015293
11,Dic,3434767,-0.000484,17.812629,-0.035711

In [41]:
year2020.reset_index(drop=True, inplace=True)
year2020

,Mes,Total de Conexiones,Crecimiento Anual,Penetraci칩n cada 100 hab.,Crecimiento Anual P.B.
0,Ene,3433006,-0.000513,17.776524,-0.036105
1,Feb,3443368,0.003018,17.803208,0.026684
2,Mar,3489047,0.013266,18.012134,0.208926
3,Abr,3532510,0.012457,18.209007,0.196873
4,May,3560720,0.007986,18.326782,0.117774
5,Jun,3588261,0.007735,18.440764,0.113982
6,Jul,3621266,0.009198,18.592861,0.152097
7,Ago,3653873,0.009004,18.742630,0.149769
8,Sep,3701448,0.013020,18.968824,0.226194
9,Oct,3748396,0.012684,19.191384,0.222559
10,Nov,3780650,0.008605,19.338364,0.146981
11,Dic,3802033,0.005656,19.429516,0.091151

In [42]:
year2021.reset_index(drop=True, inplace=True)
year2021

,Mes,Total de Conexiones,Crecimiento Anual,Penetraci칩n cada 100 hab.,Crecimiento Anual P.B.
0,Ene,3825893,0.006276,19.533143,0.103627
1,Feb,3871063,0.011806,19.745272,0.212130
2,Mar,3937795,0.017239,20.066885,0.321613
3,Abr,4005820,0.017275,20.394480,0.327595
4,May,4049326,0.010861,20.596749,0.202269
5,Jun,4089655,0.009959,20.782496,0.185747